/* Aplicamos el desenfoque SOLO al contenido de fondo */
.blur-background {
  filter: blur(5px);
  transition: 0.02s ease-in-out;
  pointer-events: none; /* Evita que se interactúe con el fondo mientras está el login */
}

/* Evita que el login se vea borroso */
.register-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Oscurece el fondo */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* El cuadro de register NO debe verse borroso */
.register-container {
  background-color: rgb(0, 206, 51);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1001;
}

.register-container input {
  margin: 10px;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border: none;
}

.register-button {
  background-color: white;
  color: rgb(0, 206, 51);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 10px;
}
